.mainBox {
	background-color: #808080;
	width: 1000px;
	height: 1300px;
}
.topBox {
	height: 300px;
	width: 800px;
	position: relative;
	top: 60px;
	left: 100px;
	background-color: white;
}
.textBox {
	width: 700px;
	height: 150px;
	position: relative;
	top: 30px;
	left: 50px;
}
p {
	font-family: Verdana;
	font-size: 18px;
	color: #5e5e4e;
}
.button {
	display: inline-block;
	height: 50px;
	width: 120px;
	position: relative;
	top: 70px;
}
.blueButton {
	background-color: blue;
	left: 50px;
}
.redButton {
	background-color: red;
	left: 75px;
}
#button {
	color: white;
	font-family: Verdana;
	text-align: center;
	position: relative;
	bottom: 8px;
}
.lowerBox {
	height: 700px;
	width: 800px;
	background-color: white;
	position: relative;
	left: 100px;
	top: 100px;
}
img {
	position: relative;
	top: 50px;
	left: 100px;
}
.txtBox {
	width: 700px;
	height: 300px;
	position: relative;
	top: 50px;
	left: 50px
}
.bottomBar {
	width: 1000px;
	height: 100px;
	background-color: #353535;
	position: relative;
	top: 200px;
}
.big {
	height: 40px;
	width: 60px;
	display: inline-block;
	position: relative;
	top: 40px;
}
.google {
	left: 750px;

}
.apple {
	left: 700px;
}
a {
	text-decoration: none;
	color: white;
	font-family: Verdana;
	font-size: 20px;
}
